{% load i18n djangocms_forms_tags %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{ title }}</title>
    </head>
    <body itemscope itemtype="http://schema.org/EmailMessage">
	<strong>{% trans 'Fecha:' %}</strong> {% now "j F Y H:i" %}<br/>
	{% for item in data %}
		{%if item.name == 'prensa' %}
			<strong>Para:</strong> {{ item.value|friendly|default_if_none:'—' }}<br/>
		{%elif item.name == 'nombre' %}
			<strong>De:</strong> {{ item.value|friendly|default_if_none:'—' }}<br/>
		{%elif item.name == 'email' %}
			<strong>E-Mail:</strong> {{ item.value|friendly|default_if_none:'—' }}
		{%elif item.name == 'mensaje' %}
			<p><strong>Mensaje:</strong> {{ item.value|friendly|default_if_none:'—' }}</p>
		{%endif%}
	{% endfor %}

    </body>
</html>
