{% load i18n sekizai_tags %}
<div class="podcasts">
  {# <h2>{% trans "Podcasts" %}</h2> #}
  <div class="content">
    {% if latest %}
    <form class="search-form" style="background-color: #f63e00;width: 25%; padding:3px 0;position:relative;">
        {% csrf_token %}
        <i class="fa fa-search" style="color: #fff; padding:0 10px;position:absolute; top:5px;"></i>
        <input id="podcast_submit" type="button" value=" " onclick="buscar_podcasts();"/>
        <input id="podcast_search_data" name="podcast_search_data" class="buscador" type="text"/>
    </form>

    <ul id="podcasts_latest">
    {% for podcast in latest %}
      <li>
        <h3>{{ podcast.title}}</h3>
        {{ podcast.content|safe }}

        {% if podcast.file_download %}<a class="pull-right" href="{{podcast.file_download}}" target="_blank" download="{{podcast.title}}">Descargar</a>{% endif %}
        <!--iframe width="90%" src="{{ podcast.video_url }}" frameborder="0" allowfullscreen></iframe-->

      </li>
    {% endfor %}
    </ul>
    {% else %}
    <p class="empty">{% trans "No hay podcasts disponibles" %}</p>
    {% endif %}
  </div>
</div>


{# block js#}
{% addtoblock "js" %}
{% endaddtoblock %}
{#% endblock #}
