{% load i18n sekizai_tags cms_tags %}

<div class="busqueda_podcasts">
  {# <h2>{% trans "Podcasts" %}</h2> #}

  <button onclick="volver_buscar();" value="{% trans 'Borrar busqueda' %}">{% trans 'Borrar busqueda' %} x</button>

      {% include 'podcasts/paginado.html' %}



  </div>


