{% load i18n %}

{% if latest %}

    <ul>
    {% for podcast in latest %}
      <li>
        <h3>{{ podcast.title}}</h3>
        {{ podcast.content|safe }}

        {% if podcast.file_download %}<a class="pull-right" href="{{podcast.file_download}}" target="_blank" download="{{podcast.title}}">Descargar</a>{% endif %}
        <!--iframe width="90%" src="{{ podcast.video_url }}" frameborder="0" allowfullscreen></iframe-->

      </li>
    {% endfor %}
        </ul>

    {% else %}
        <p class="empty">{% trans "No hay podcasts disponibles" %}</p>
{% endif %}
<div class="pagination">
    <span class="step-links">

        {% if latest.has_next %}
            <a onclick="mas_podcasts({{ latest.next_page_number }});" style="cursor:pointer;">Mostrar mas..</a>
        {% endif %}
    </span>
</div>
