{% load programas_extras set_var %}


{% if latest %}

<div class="row grilla">
    {% for nombre,dia in latest %}
        <div class="col col-programa">
            <h4>
                {{nombre}}
            </h4>

        {% set fin_anterior = trasnoche.hora_fin %}
        {% for programa in dia %}
            {% if not forloop.first %}
            <a data-target="#modal-programa{{programa.id}}" data-toggle="modal" data-keyboard="true"
                style="margin-top:{{programa.hora_inicio|margenizar:fin_anterior}}px;
                        height:{{programa|calendarizar}}px; padding-top: {{programa|formatear}}px">

                <div class="programa">
                    {{programa.title}}</br>
                    Inicio: {{programa.hora_inicio}}
                </div>
            </a>

            {% include 'programas/programa-modal.html'%}
            {% set fin_anterior = programa.hora_fin %}

            {% endif %}
        {% endfor %}

        </div>
    {% endfor %}

    <a style="margin-top:4px; padding: 15px;width: 86%; margin-left: auto; margin-right:auto;"
       data-toggle="modal" data-target="#modal-programa{{trasnoche.id}}" data-keyboard="true">
        <div class="programa">
            {{trasnoche.title}}<br>
            Todos los dias, de {{trasnoche.hora_inicio}} a {{trasnoche.hora_fin}}
        </div>
    </a>

    <div id="modal-programa{{trasnoche.id}}" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
            <div class="modal-content" style="color: #0E2543; background-color: #49BFB5">
	   <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

                <div class="modal-body">
                    <div style="position: relative;">
                        <div style="position: fixed; width: 47%; overflow:hidden;">
                            <img src="{{STATIC_URL}}ahijuna-onda.png" />
                        </div>
                        <img src="{{trasnoche.image.url}}" style="display:inline-block;width: 100%;max-height: 40em; float: left; padding-left: 45%"/>
                    </div>
                    <div class="bloque-info">
                        <h4 class="upper" style="padding-top:9%;">{{trasnoche.title}}</h4>
                        <h4>{{trasnoche.horario}}</h4>
                        <p>
                            {{trasnoche.content}}
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

{% endif %}
