<div id="modal-programa{{programa.id}}" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">

    <!-- Modal content-->
        <div class="modal-content" style="color: #0E2543; background-color: #49BFB5">
            <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div style="position: relative;">
                    <div style="position: absolute; width: 51%; overflow:hidden;">
                        <img src="{{STATIC_URL}}ahijuna-onda.png" />
                    </div>
                    <img src="{{programa.image.url}}" style="display:inline-block;width: 100%;max-height: 40em; float: left; padding-left: 45%"/>
                </div>
                <div class="bloque-info">
                    <h4 class="upper" style="padding-top:9%;">{{programa.title}}</h4>
                    <h4>{{programa.horario}}</h4>
                    <p>
                        {{programa.content}}
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
