{% load i18n %}

{% if latest %}
    {% for noticia in latest %}
        <div class="item-noticia">
            <a class="modal-noticias-link" data-id="{{noticia.id}}" data-toggle="modal" data-target="#modal-noticias" data-keyboard="true">
                <img class="previo" src="{{noticia.image.url}}" /></a>
            <!-- Modal -->
            {% include 'noticias/modal.html' %}

        </div>
        {% if not forloop.last %}
            {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="item">
            {% endif %}
        {% endif %}
    {% endfor %}


{% endif %}
