<div class="modal-dialog modal-lg" id="noticia{{noticia.id}}">

    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="color: {{noticia.color_title}}; background-color: {{noticia.background_title}}; text-align:center;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{noticia.title}}</h4>
            </div>
            <div class="modal-body" style="color: {{noticia.color_content}}; background-color: {{noticia.background_content}}">
                <img src="{{noticia.image.url}}" />
                {{noticia.content|safe}}
            </div>
            <div class="modal-footer" style="background-color: {{noticia.background_content}}">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
</div>
