{% load i18n %}

{% if latest %}
    {% for noticia in latest %}
        <a class="modal-noticias-link" data-id="{{noticia.id}}" data-toggle="modal" data-target="#modal-noticias" data-keyboard="true">
            -{{noticia.created|date:'d/m/Y'}}: {{noticia.title}}
        </a>
        <br/>
        <!-- Modal -->
        {% include 'noticias/modal.html' %}

    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if latest.has_previous %}
            <a onclick="mas_noticias({{ latest.previous_page_number }});" style="cursor:pointer;">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ latest.number }} de {{ latest.paginator.num_pages }}.
        </span>

        {% if latest.has_next %}
            <a onclick="mas_noticias({{ latest.next_page_number }});" style="cursor:pointer;">Siguiente</a>
        {% endif %}
    </span>
</div>
{% endif %}
