{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block admin_change_form_document_ready %}
{{ block.super }}
<script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                var descripcion_texto = "<br/><br/><a class='#000028' onclick='activar_valor(this);' style='padding:10px; margin: 10px;background-color:#000028; color:#FFF;'>#000028</a>"+
                        "<a class='#E33903' onclick='activar_valor(this);' style='padding:10px; margin: 10px;background-color:#E33903; color:#000;'>#E33903</a>"+
                        "<a class='#43AFA8' onclick='activar_valor(this);' style='padding:10px; margin: 10px;background-color:#43AFA8; color:#000;'>#43AFA8</a>"+
                        "<br/><br/>";
                var descripcion_fondo = "<br/><br/><a class='#F63E00' onclick='activar_valor(this);' style='padding:10px; margin: 10px;background-color:#F63E00; color:#000;'>#F63E00</a>"+
                        "<a class='#000028' onclick='activar_valor(this);' style='padding:10px; margin: 10px;background-color:#000028; color:#FFF;'>#000028</a>"+
                        "<a class='#F9CE35' onclick='activar_valor(this);' style='padding:10px; margin: 10px;background-color:#F9CE35; color:#000;'>#F9CE35</a>"+
                        "<a class='#49BFB5' onclick='activar_valor(this);' style='padding:10px; margin: 10px;background-color:#49BFB5; color:#000;'>#49BFB5</a>"+
                        "<br/><br/>";

                var label= document.getElementsByClassName("field-color_title")[0].children[0].children[0];
                var input = document.getElementsByClassName("field-color_title")[0].children[0].children[1];
                label.innerHTML+= descripcion_texto;
                label.getElementsByClassName(input.selectedOptions.item(0).text)[0].click();
                input.hidden=true;

                var label= document.getElementsByClassName("field-background_title")[0].children[0].children[0];
                var input=document.getElementsByClassName("field-background_title")[0].children[0].children[1];
                label.innerHTML+= descripcion_fondo;
                label.getElementsByClassName(input.selectedOptions.item(0).text)[0].click();
                input.hidden=true;

                var label= document.getElementsByClassName("field-color_content")[0].children[0].children[0];
                var input=document.getElementsByClassName("field-color_content")[0].children[0].children[1];
                label.innerHTML+= descripcion_texto;
                label.getElementsByClassName(input.selectedOptions.item(0).text)[0].click();
                input.hidden=true;

                var label= document.getElementsByClassName("field-background_content")[0].children[0].children[0];
                var input=document.getElementsByClassName("field-background_content")[0].children[0].children[1];
                label.innerHTML+= descripcion_fondo;
                label.getElementsByClassName(input.selectedOptions.item(0).text)[0].click();
                input.hidden=true;

                //document.getElementsByClassName("field-background_title")[0].children[0].children[1].hidden=true;
                //document.getElementsByClassName("field-color_content")[0].children[0].children[1].hidden=true;
                //document.getElementsByClassName("field-background_content")[0].children[0].children[1].hidden=true;

            });
        })(django.jQuery);
        function activar_valor(e){
            var grupo = e.parentElement.parentElement;
            var activos = grupo.children[0].getElementsByTagName('a');
            var index;
            for(index=0;index< activos.length; ++index){
                activos[index].className='';
                activos[index].style.border='none';
            }
            //e.className='active';
            e.style.border='5px solid #ccc';
            var valor = e.text;
            var valor_id;
            for(index=0; index<grupo.children[1].options.length; ++index){
                //alert(grupo.children[1].options.item(index).text.valueOf());
                if(grupo.children[1].options.item(index).text.valueOf() == valor.valueOf()){
                    //alert( "asd");
                    valor_id=index;
                }
            }
            grupo.children[1].options.selectedIndex = valor_id;
        };


</script>
{% endblock %}