body {
    background-color: #000028;
    font-size: 14px;
}

section {
    padding-top: 20px
    padding-bottom: 20px
}
.page .row > div {
    padding: 0px;
}

header.page, .page .row {
    #min-width: 1120px;
}
.logo{
    margin-left: 20px;
    overflow: hidden;
}
.logo img {
    height: inherit;
    width: 100%;
    max-width: 160px;
    padding-top: 6px;
}
.loquesuena{
    margin-right: -20px;
    color: #32DAC4;
    font-weight: bold;
    text-align: rigth;
}
.loquesuena >span{
    font-size: 15px;
    text-shadow: #f3cb16 -1px 1px;
    display:inline-block;
    vertical-align: top;
    text-align: right;
}
.loquesuena div {
    width: 60px;
    display:inline-block;
    overflow: hidden;
}
.loquesuena img {
    width: 100%;
    max-width: 170px;
}
nav.page {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.img-responsive {
    margin-left: auto;
    margin-right: auto;
}

.section-menu {
    display: block;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.section-menu > li {
    display: inline-block;
    text-align: center;
    margin-right: 1em;
    margin-left: 0px;
}

header {
    background-color: #282928;
    #height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1030;

}
header a{
    color: #fff;
    font-size: 14px;
    line-height: 2;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.section-menu > li > a:hover, .section-menu >li.active {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px #fff solid;
}
.section-menu > li > a:focus{
    color: #fff;
    text-decoration: none;
}
section {
    padding-top: 50px;
}
#noticias h2, #noticias .fa{
    text-transform: uppercase;
    color: #C6C6C6;
}

#noticias .item {
    display: inline-block;
    width: 33%;
}
#noticias img.previo {
    width: 100%;
}
#noticias .slider {
    #padding-left: 20px;
    #padding-right: 20px;
}
#noticias .modal .modal-header{
    padding-bottom: 30px;
    font-size: 17px;
    text-transform: uppercase;
    padding-top: 15px;
    text-align: center;
}
.modal-body > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.modal-footer{
    border-top: none;
}

#programas{
    padding-left: 10%;
    padding-right: 10%;
}
#programas, #programas .fa{
    color: #F63E00;
}
.col-programa{
    min-width: 12%;
    display:inline-block;
    vertical-align:top;

}
#programas .grilla h3{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-bottom: 10px;
}
#programas .grilla a{
    color: #F63E00;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #F63E00;
    display: block;
    width: 100%;
}
#programas .grilla a:hover{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #F63E00;
}
.modal-header{
    border: none;
}
.modal-body img {
    width:100%;
}
.modal-body .bloque-info {
    background-color: #42ADA3;
    width: 60%;
    padding: 2em 2em 1em 2em;
    color: #1C495C;
    display: inline-block;
    #margin-top: -6em;
}
.modal-body .bloque-info h4 > .upper{
    text-transform: uppercase;
}
.modal-body .bloque-info p, .modal-body .bloque-info h4{
    color: #1C495C;
}
.modal-body .btn{
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#podcast {
    padding-left: 10%;
    padding-right: 10%;
    color: #B92E03;
}

.podcasts .content {
    padding-top: 15px;
}

.buscador{
    display:inline-block;
    background-color: #f63e00;
    border:none;
    color: #fff;
    padding-left:30px;
    width: 96%;
}

.search-form #podcast_submit{
    display:inline-block;
    background-color: transparent;
    border:none;
    padding: 0 10px;
    position:absolute;

}
.busqueda_podcasts {
    padding-top: 10px;

}
.busqueda_podcasts button{
    background-color: #f63e00;
    color: #fff;
    border:none;
    margin-bottom: 10px;
}
.podcasts h3 {
    text-transform: uppercase;
}
.podcasts ul{
    padding-left: 0px;
}
.podcasts li{
    text-decoration: none;
    display: inline-block;
    width: 30%;
    padding-left: 3%;
    padding-right: 3%;
}

#public{
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 25px;
    color: #F63E00;
    font-size: 22px;
}
#public .owl-carousel-plugin {
    padding-left: 10%;
    padding-right: 10%;
}
#campanas{
    text-transform: uppercase;
    color: #F63E00;
}

.panel-group {
    margin-bottom: 0px;
}
.panel.panel-info {
    background-color: transparent;
    border: medium none;
}
.panel.panel-info .panel-heading {
    background-color: transparent;
    background-image: none;
    border: none;
    font-size: 15px;
    padding: 0px;
    color: #C6C6C6;
}
#campanas .panel-body {
    border-top: none;
}


.owl-carousel{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.owl-carousel-plugin .modal-dialog {
    display: none
}
.owl-carousel .owl-wrapper-outer{
    z-index: 1020;
}
.owl-theme .owl-controls .owl-page span {
    height:15px;
    width: 15px;
}

#noticias .owl-controls, #campanas .owl-controls{
    position: absolute;
    width: 100% !important; /* adjust if necessary */
    top: 30% !important; /* adjust if necessary */
    margin: 0 0 !important; /* adjust if necessary */
    z-index: 10;

}
#campanas .owl-controls{
    #margin-left: 20px !important;
}
.owl-buttons div{ /* left arrow */
    width: 7%; /* width background image */
    height: 2% !important;
    padding-top: 3% !important; /* height background image */
    padding-bottom: 3% !important; /* height background image */
    overflow: hidden !important;

    margin: 0 !important;
    float: left;
    margin-left: -4% !important;

}
.owl-buttons .owl-next{ /* right arrow */
    float: right;
    margin-right: -4% !important;
}
.owl-theme .owl-controls .owl-buttons div{
    border-radius: 0px !important;
    padding: 6% 1%;
    max-width: 50px;
}


#contacto{
    margin-left: 5%;
    margin-right: 5%;
}

#footer form{
    margin-left: 15%;
}
#footer .column:last-child {
    padding-right: 12%;
}

#footer {
    color: #fff;
    padding-bottom: 20px;
}
#footer .fa {
    color: #F63E00;
}
#footer form label{
    visibility: hidden;
}
#footer form textarea, #footer form input, #footer button, #footer form select{
    width: 92%;
    color: #000;
    border: none;
    background-color: #E8E7E6;
}
#footer input[type="submit"]{
    background-color: #F63E00;
    color: #fff!important;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
}