{% load cms_tags staticfiles %}

<header class="page">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 logo">
        <img class="" src="{% static "Ahijuna.png" %}">
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-5">
      <nav class="page">
        <div class="menu">
          <ul class="section-menu">{% for section in sections %}
            <li><a href="#{{ section.slug }}">{{ section.label }}</a></li>{% endfor %}
          </ul>
        </div>
      </nav>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 loquesuena">
      <span>
        Lo que suena:<br><span id="prog-actual" style="font-size: 16px; text-shadow: none;"></span>
      </span>
	<iframe id="player" src="{% static 'jplayer/player.html' %}" frameborder="none" border="0" cellspacing="0" scrolling="no"></iframe>
     <!-- <div>
      <img class="" src="{% static 'player.png' %}" onclick="reproducir_radio();">
      </div>-->
    </div>
  </div>
</header>

<div>
  {% for child_section in section_plugins %}
    {% render_plugin child_section  %}
  {% endfor %}
</div>

{% block js %}
  <script type="text/javascript">
    function reproducir_radio(){
      var img = $('.loquesuena img');
      if (img.hasClass('playing')){
        //detener player..

        img.removeClass('playing');

      }
      else {
        //ejecutar player..

        img.addClass('playing');
      }
    };
  </script>
{% endblock %}
