{% load sekizai_tags %}
<section id="{{ instance.section_menu_slug }}">
  <div class="outer">
    <div class="inner">
      {% block section_content %}
      {% endblock %}
    </div>
  </div>
</section>
