@font-face {
font-family: 'Helvetica_Cond';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue LT Std 57 Condensed'), url('fonts/HelveticaNeueLTStd-Cn.woff') format('woff');
}

@font-face {
font-family: 'Helvetica_Li';
font-style: normal;
font-weight: normal;
src: local('Helvetica 45 Light'), url('fonts/HelveticaNeue-Light.woff') format('woff');
}

@font-face {
font-family: 'Helvetica_Bold';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue Bold'), url('fonts/HelveticaNeueBold.woff') format('woff');
}

@font-face {
font-family: 'Helvetica_Std_Li';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue LT Std 45 Light'), url('fonts/HelveticaNeueLTStd Lt.woff') format('woff');
}

@font-face {
font-family: 'Helvetica_Bold_Cond';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue LT Std 77 Bold Condensed'), url('fonts/HelveticaNeueLTStd-BdCn.woff') format('woff');
}

@font-face {
font-family: 'Helvetica_Ita';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue LT Std 56 Italic'), url('fonts/HelveticaNeueLTStd-It.woff') format('woff');
}


body {
    background-color: #000028;
    font-size: 20px;
    margin-right: 15px;
    font-family: 'Helvetica_Std_Li';
    min-width: 605px;
}


section h2 {
    font-family: 'Helvetica_Cond';
    font-size: 46px;
}


.page .row > div {
    padding: 0px;
}

div#subtitle {
    font-size: 14px;
}

header.page, .page .row {
    #min-width: 1120px;
}
.logo{
    margin-left: 20px;
    overflow: hidden;
}
.logo img {
    height: inherit;
    width: 100%;
    max-width: 160px;
    padding-top: 6px;
    margin-left: 20px;
    margin-top: 3px;
}
.loquesuena{
    margin-right: -20px;
    color: #32DAC4;
    font-weight: bold;
    text-align: rigth;
}
.loquesuena >span{
    font-size: 15px;
    text-shadow: #f3cb16 -1px 1px;
    display:inline-block;
    vertical-align: top;
    text-align: right;
    max-width: 70%;
    margin-top: 13px;
}
.loquesuena div {
    width: 60px;
    display:inline-block;
    overflow: hidden;
}
.loquesuena img {
    width: 200%;
    max-width: 170px;
    cursor: pointer;
    margin-top: 1px;
    margin-left: 1px;
}
.loquesuena img.playing {
    margin-left: -100%;
    margin-top: 0px;
    margin-bottom: 1px;
}

iframe#player {
    width: 115px;
    height: 76px;
    border-style: none;
    margin-bottom: -5px;
    margin-top: -10px;
}

nav.page {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 9px; 
}

.img-responsive {
    margin-left: auto;
    margin-right: auto;
}

.section-menu {
    display: block;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size:16px;
}
.section-menu > li {
    display: inline-block;
    text-align: center;
    margin-right: 1em;
    margin-left: 0px;
}

header {
    background-color: #282928;
    #height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1030;

}
header a{
    color: #fff;
    font-size: 16px;
    line-height: 2;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-family: 'Helvetica_Std_Li';
}

.section-menu > li > a:hover, .section-menu >li.active {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px #fff solid;
}
.section-menu >li.active > a:hover {
    border-bottom: 0px solid;
}
.section-menu > li > a:focus{
    color: #fff;
    text-decoration: none;
}

section {
    padding-top: 77px;
}

section#radio {
padding-top: 55px;
}

#noticias .fa{
    text-transform: uppercase;
    color: #32DAC4;
}
@media screen and (max-width: 1010px) {
    .section-menu > li{
        display:none;
        margin-right:0px;
    }
    .section-menu > li.active{
        display:block;
    }
    .section-menu {
		width: 180px;
		position: absolute;
		top: 5;
		left: 10%;
		border: solid 1px #111;
		border-radius: 5px;
		background-color: #282928;
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
		padding:0px;
	}
	.menu ul:hover li {
		display: block;
		margin: 0 0 5px;
	}
}
div#plugin-3521 {
    margin-top: 40px;
}

#noticias h2{
/*    color: #C6C6C6;*/
    text-transform: uppercase;
    color: #32DAC4;
}
#noticias .item{
    text-align:center;
}
#noticias .item-noticia {
    display: inline-block;
    width: 32%;
}
#noticias img.previo {
    width: 100%;
    border: 1px solid #32DAC4;
}
#noticias .slider {
    #padding-left: 20px;
    #padding-right: 20px;
}
#noticias .modal .modal-header{
    padding-bottom: 30px;
    font-size: 17px;
    text-transform: uppercase;
    padding-top: 15px;
    text-align: center;
}
.modal-body > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.field-title a:hover, .field-content a:hover, .field-image a:hover, .field-color_title a:hover,
.field-title a.active, .field-content a.active, .field-image a.active, .field-color_title a.active{
    color:#ddd;
    border: 2px solid #ddd;
}

a.modal-noticias-link {
    font-family: Helvetica_Std_Li;
    color: #32DAC4;
}

.modal-footer{
    /*border-top: none;*/
    display: none;
}
.modal-noticias-link{
    cursor: pointer;
}
#noticias iframe{
    background: transparent;
}
#noticias button {
    display: block;
    margin-left: 10%;
    margin-top: 2%;
    background-color: transparent;
    border: none;
    color: #F63E00;
    padding: 6px 7px 0px 8px;
    font-weight: bold;
    font-family: 'Helvetica_Bold';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 22px;
}
#lista-noticias{
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 10%;
    font-size: 14px;
}
#noticias .modal-dialog {
    display: none
}
.tunein {
    border-radius: 5px;
    margin: 0px 0 11px 7px;
    width: 1.35em;
}
#programas{
    padding-left: 3%;
    padding-right: 3%;
}
#programas, #programas .fa{
    color: #F63E00;
}
#programas .col-margen{
    width: 8%;
    display: block;
}
.col-programa{
    width: 12%;
    #max-width: 12%;
    display:inline-block;
    vertical-align:top;
    font-size: 11px;

}
.row.grilla {
    text-align: center;
    margin:0;
}
#programas .grilla h4{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-bottom: 10px;
}
#programas .grilla a{
    color: #F63E00;
    text-decoration: none;
    padding: 4px;
    border: 1px solid #F63E00;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 15px;
}
#programas .grilla a:hover{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #F63E00;
}
#programas .bloque-info > h4 {
    text-align: left;
}

.programa {
 font-size: 11px;
 text-transform: uppercase;
 text-align: left;
}

.modal-header{
    border: none;
}
.modal-body img {
    width:100%;
    margin-bottom: 10px;
}
.modal-body .bloque-info {
    background-color: #42ADA3;
    width: 65%;
    padding: 2em 2em 1em 2em;
    color: #1C495C;
    #display: inline-block;
    margin-top: 40%;
    font-size:12px;
    text-align: left;
}
.modal-body .bloque-info h4 > .upper{
    text-transform: uppercase;
}
.modal-body .bloque-info p, .modal-body .bloque-info h4{
    color: #1C495C;
    text-align: left;
}
.modal-body .btn{
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#podcast {
    padding-left: 10%;
    padding-right: 10%;
    color: #B92E03;
}

.podcasts .content {
    padding-top: 15px;
}
.podcasts p {
    font-size: 15px;
}

.buscador{
    display:inline-block;
    background-color: #f63e00;
    border:none;
    color: #fff;
    padding-left:30px;
    width: 96%;
}

.search-form #podcast_submit{
    display:inline-block;
    background-color: transparent;
    border:none;
    padding: 0 10px;
    position:absolute;

}
.busqueda_podcasts {
    padding-top: 10px;

}
.busqueda_podcasts button{
    background-color: #f63e00;
    color: #fff;
    border:none;
    margin-bottom: 10px;
}
.podcasts h3 {
    text-transform: uppercase;
    word-wrap: break-word;
    font-size: 20px;
}
.podcasts ul{
    padding-left: 0px;
    margin-top:25px;
}
.podcasts li{
    text-decoration: none;
    display: inline-block;
    width: 32.8%;
    vertical-align: top;
    padding: 0px 20px 20px 20px;
}

#public {
    color: #FC4513;
    font-size: 22px;
    padding-top: 100px;
}

#public h1 {
    font-size: 44px;
    font-family: Helvetica_Bold_Cond;
}
#public h3 {
    font-size: 31px;
    font-family: Helvetica_Std_Li;
}
#public .outer {
/*    background-color: rgba(0, 0, 0, 0.3);*/
    padding-top: 18px;
}

#public .owl-carousel-plugin {
    padding-left: 10%;
    padding-right: 10%;
}
#campanas{
    text-transform: uppercase;
    color: #F63E00;
    line-height: normal;
}
#campanas a{
    color: #32dac3;
    font-weight: bold;
}
#campanas p{
    position:absolute;
    left: 100px;
    font-size: 15px;
    margin-bottom:0px;
    line-height: 0px;
    text-transform:none;
    bottom: 456px;
}

#campanas h5 {
    text-transform: none;
    text-align: justify;
    font-size: 15px;
    font-family: "Helvetica_Std_Li";
}
.modal-campanas-link{
    padding-left: 10px;
    position: relative;
    top: 8px;
    cursor:pointer;
}#campanas a.modal-campanas-link:before {
    content: "\f140";
    font-family:FontAwesome;
    left:-6px;
    position:absolute;
    top:5px;
}
#modal-campanas .modal-content{
    background-color: transparent;
    color: #f63e00;
    text-align:center;
}

.panel-group {
    margin-bottom: 0px;
}
.panel.panel-info {
    background-color: transparent;
    border: medium none;
    margin-left: 15%;
}
#campanas .panel.panel-info {
    margin-right: 2%;
    margin-left: 2%;
}
#campanas .panel-group:first-child{
    float:left;
}#campanas .panel-group:last-child > .panel-heading{
    position:absolute;
    left:120px;
}#campanas .panel-group:last-child > .panel-heading > a:before {
    content: "\f140";
    font-family: FontAwesome;
    left:-5px;
    position:absolute;
    top:0;
 }

#campanas iframe {
    margin-left: auto;
    margin-right:auto;
    max-width: 99%;
    display:block;
}

span#info {
    text-transform: none;
    text-align: justify;
}
.panel.panel-info .panel-heading {
    background-color: transparent;
    background-image: none;
    border: none;
    font-size: 15px;
    padding: 0px;
    color: #C6C6C6;
}
#campanas .panel-body {
    border-top: none;
}


.owl-carousel{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.owl-carousel-plugin .modal-dialog {
    display: none
}
.owl-carousel .owl-wrapper-outer{
    z-index: 1020;
}
.owl-theme .owl-controls .owl-page span {
    height:15px;
    width: 15px;
}

#noticias .owl-controls, #campanas .owl-controls{
    position: absolute;
    width: 100% !important; /* adjust if necessary */
    top: 30% !important; /* adjust if necessary */
    margin: 0 0 !important; /* adjust if necessary */
    z-index: 10;

}
#campanas .owl-controls{
    #margin-left: 20px !important;
}
.owl-buttons div{ /* left arrow */
    width: 7%; /* width background image */
    height: 2% !important;
    padding-top: 3% !important; /* height background image */
    padding-bottom: 3% !important; /* height background image */
    overflow: hidden !important;

    margin: 0 !important;
    float: left;
    margin-left: -4% !important;

}
.owl-buttons .owl-next{ /* right arrow */
    float: right;
    margin-right: -5% !important;
}
.owl-theme .owl-controls .owl-buttons div{
    border-radius: 0px !important;
    padding: 6% 1%;
    max-width: 50px;
}


#footer form{
    margin-left: 5%;
    margin-right: 5%;
}

#footer .forms{
    margin-left: 15%;
    font-size: 17px;
}

#footer h5 {
    font-size: 17px;
    line-height: 25px;
}

.field-wrapper {
    margin-top: -10px;
}

.field-wrapper.select.required {
    margin-top: -30px;
}

#footer .column:last-child {
    padding-right: 12%;
}

#footer {
    color: #fff;
    padding-bottom: 20px;
}
#footer .fa {
    color: #F63E00;
}
#footer form label{
    visibility: hidden;
    display: block;
}
#footer form textarea, #footer form input, #footer button, #footer form select{
    width: 92%;
    color: #000;
    border: none;
    background-color: #E8E7E6;
    text-indent: 8px;
}
#footer form > input, #footer form .form-button{
    background-color: #F63E00;
    color: #fff!important;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
#footer select{
    padding: 2px 0px;
    text-transform: capitalize;
}

.plugin_googlemap {
    margin-bottom: -20px;
}

.fa-2x {
    font-size: 1.5em;
}

h4.modal-title {
    font-size: 42px;
    font-family: 'Helvetica_Cond';
    text-transform: uppercase;
    margin-bottom: -20px;
}
#modal-noticias p {
    font-size: 16px;
}

h4.upper {
    font-size: 24px;
    font-weight: bold;
}

.bloque-info p {
    font-size: 16px;
}

p.accadm {
    font-size: 14px;
}

span.current {
    color: #F63E00;
}
#public a {
    color: #F63E00;
}
.accadm a {
    color: #F63E00;
}
.podcasts a {
    color: #F63E00;
    font-size: 15px;
}
.plugin_picture img {
    vertical-align: top;
    margin: 1px 0px 0px 1px;
    border-radius: 5px;
}
